<%- include('./partials/header'); -%>

<h1>About Me!</h1>
<p> Hello! I am <strong>Nikhil Kumar Patra</strong>. I am an <strong>undergraduate student at IIIT, Bhubaneswar</strong>, 
    currently in the <strong>final year</strong> of my B.Tech programme. </p>
<p>
    As a person, I am very passionate coding. 
    I love designing and creating websites, 
    and developing apps for iOS. Apart from that, 
    I love playing video games, reading books, writing blogs, 
    socialising, and having fun basically. You get the idea. 
    I am fun person to be around.
</p>
    My journey to IIIT, Bhubaneswar has not 
    been really easy. My dream was to get into IIT, Bombay but unfortunately I couldn't. 
    Ever since then, I understood the importance of working hard, dedication, 
    and discipline in life. I have been doing my best to lead a disciplined life. 
    I learned to do every thing that I do with utmost dedication and passion. 
    I hope someday I will be able to do something great in my life that would benefit 
    everyone around me and inspire them to do the same. 
</p>
<p>
    Okay! enough of all the motivation stuff. I guess I got you emotional 
    through my story. If you didn't get emotional, I don't know what makes you emotional. 
    I haven't got an internship yet and I am worried about unemployment. 
    Did that make you emotional, huh? Now go and get me a goddamn job!!! 
</p>

<%- include('./partials/footer'); -%>